body {
    font: 12px Helvetica,Arial,sans-serif;
    overflow: hidden;
}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
form {
    margin: 0;
    padding: 0;
    border: 0px;
}
#canvas {
    outline: none;
    height: 100%;
}

.grayNav {
    background-color: #545652;
    color: #D5D5D5;
    height: 28px;
    min-height: 28px;
    min-width: 950px;
    margin-bottom: 0;
}

.grayNav li {
    line-height: 28px;
    vertical-align: baseline;
}

.grayNav li a {
    color: #D5D5D5;
    cursor: pointer;
    display: inline-block;
    padding: 0 12px;
}

.grayNav li a:hover {
    color: #fff;
    text-decoration: none;
}

.nav-left {
    display: inline;
    text-align: left;
}

.nav-left li {
    float: left;
}

.nav-right {
    display: inline;
    text-align: right;
}

.nav-right li {
    float: right;
}

.toolsbar {
    background-color: #f0f3f5;
    width: 100%;
    min-width: 950px;
    overflow: hidden;
    zoom: 1;
    height: 50px;
    /* margin-bottom: 5px; */
}

.nav-wrap {
    border-color: #e3ebec;
    border-bottom: 1px solid #e5ebe4;
}

.nav-primary {
    width: 950px;
    overflow: visible;
    position: relative;
    padding: 10px 0 5px;
    zoom: 1;
    margin: 0 auto;
}

.wrapper {
	position: relative;
	top:80;
	left: 0;
	right: 0;
	bottom: 32;
    width: 100%;
    z-index: 1000;
}

.container {
    width: 100% ;
    height:518px;
}
.quneeBox{
	width: 100%  !important;
    height:518px !important;
    height: 100%;
}
.wrapper .container .row > div{
	margin: 0;
	padding: 5px;
	border-right: 1px solid #e5ebe4;
}

footer{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	height: 30px;
	border-top: 1px solid #e5ebe4;
}